<div class="home">
    <div class="row">
        <div class="col m6 s12">
            <center>
                <img class="logo center" src="https://api.coala.io/en/latest/_static/images/coala_logo.svg">
            </center>
        </div>

        <div class="col m6 s12">
            <div class="title flow-text">coala</div>
            <ul class="center row flow-text no-margin">
                <li class="col m4 col s4"><a class="chip" href="https://docs.coala.io/"><i class="fa fa-book" aria-hidden="true"></i>DOCS</a></li>
                <li class="col m4 col s4"><a class="chip" href="https://github.com/coala/coala/"><i class="fa fa-code" aria-hidden="true"></i>SOURCE</a></li>
                <li class="col m4 col s4"><a class="chip" href="https://coala.io/chat"><i class="fa fa-commenting-o" aria-hidden="true"></i>CHAT</a></li>
            </ul>
            <h4 class="center light">linting and fixing code for all languages</h4>
        </div>
    </div>
</div>

<section id="installation">
    <div class="container">
        <div class="install-tip">
            <h2 class="fine">general idea</h2>

            <div class="thin-row-small row no-border">
                <div class="col m12 s12">
                    <p>
As coding gets more important in sections as communication, science, education, it should be a considerable part of education.
                    </p>
                    <p>
The coala school project is aimed to develop interdisciplinary competences,
including logical thinking or defining and analyzing problems systematically.
                    </p>
                </div>
            </div>

            <div class="divider"></div>

            <h2 class="fine">method</h2>

            <div class="thin-row-small row">
                <div class="col m12 s12">
                    <p>
Code is written for people and not for machines.
The coala school project offers workshops/crashcourses in which a small group
of pupils and their teacher are integrated in a dynamic group process of learning.
</p>
<p>
  At every course there are at least two coaches to pay attention on the individual needs and wishes.
  We work with coaches with technical as well as educational background to make sure we teach high quality contents in a memorable way while keeping the participants attention.
                </p>
                <div class="row">
                <div class="col m6">
                    <img class="responsive-img" src="resources/images/4.JPG">
                </div>
                <div class="col m6">
                     <img class="responsive-img" src="resources/images/5.JPG">
                </div>
                </div>
                </div>
            </div>

            <div class="divider"></div>

            <div class="thin-row-small row">
            <h2 class="fine">prospect</h2>

                <div class="col m12 s12">
<p>After a project, the coachees have the possibility to participate in the coala organisation where they work on real code (see: about) and have several mentors available at all times.
  <div class="row">
                <div class="col m6">
                    <img class="responsive-img" src="resources/images/3.JPG">
                </div>
                <div class="col m6">
                     <img class="responsive-img" src="resources/images/2.JPG">
                </div>
                </div>
                <p>
Building a network with alumnis can be a chance to reach younger pupils in an authentic
and more comprehensive way.
Pupils should be able to understand the bigger context and relevance of coding,
for example by the coala school project entrusting the responsibility to a former participant and transmit his new knowledge to someone younger.
<div class="row">
                <div class="col m12 center">
                    <img style="height: 30em;" class="responsive-img" src="resources/images/1.JPG">
                </div>
                </div>
                </div>
            </div>
        </div>
       <br><br>
    </div>
</section>
