<div class="home">
    <div class="row">
        <div class="col m6 s12">
            <center>
                <img class="logo center" src="https://api.coala.io/en/latest/_static/images/coala_logo.svg">
            </center>
        </div>

        <div class="col m6 s12">
            <div class="title flow-text">coala</div>
            <ul class="center row flow-text no-margin">
                <li class="col m4 col s4"><a class="chip" href="https://docs.coala.io/"><i class="fa fa-book" aria-hidden="true"></i>DOCS</a></li>
                <li class="col m4 col s4"><a class="chip" href="https://github.com/coala/coala/"><i class="fa fa-code" aria-hidden="true"></i>SOURCE</a></li>
                <li class="col m4 col s4"><a class="chip" href="https://coala.io/chat"><i class="fa fa-commenting-o" aria-hidden="true"></i>CHAT</a></li>
            </ul>
            <h4 class="center light">linting and fixing code for all languages</h4>
        </div>
    </div>
</div>

<section id="installation">
    <div class="container">
        <div class="install-tip">
            <h2 class="fine">general idea</h2>

            <div class="thin-row-small row no-border">
                <div class="col m12 s12">
                    <p>

As coding gets more important in several sections  as in communication, science, education and others, it should be a considerable part of education. 
That is why the coala school project is aimed to develop interdisciplinary competences, like the the way of thinking in coding or encouraging the process of defining and analyzing a problem intensely to find the most sustainable solution. 

                    </p>
                </div>
            </div>

            <div class="divider"></div>

            <h2 class="fine">method</h2>

            <div class="thin-row-small row">
                <div class="col m12 s12">
                    <p>
Code is written for people not for machines, so the coala school project offers workshops in which a small group of pupils and their teacher are integrated in a dynamic group process of learning. At least two coaches lead this group and try to pay attention on the individual needs and wishes. 
                </p>
                <div class="row">
                <div class="col m6">
                    <img class="responsive-img" src="resources/images/4.JPG">
                </div>
                <div class="col m6">
                     <img class="responsive-img" src="resources/images/5.JPG">
                </div>
                </div>
                <p class="center">
Between the theme blocks we initiate energizers to keep a motivating atmosphere and grow their self-efficacy. 

</p>
                </div>
            </div>

            <div class="divider"></div>

            <div class="thin-row-small row">
            <h2 class="fine">prospect</h2>

                <div class="col m12 s12">
                  
<p>After a project, the coachees have the possibility to participate in the coala organisation where they work on real code improving mentoring (see: about) and have several mentors to learn more every day. 

  <div class="row">
                <div class="col m6">
                    <img class="responsive-img" src="resources/images/3.JPG">
                </div>
                <div class="col m6">
                     <img class="responsive-img" src="resources/images/2.JPG">
                </div>
                </div>
                <p>
Building a network with alumnis can be a chance to reach younger pupils in an authentic and more comprehensive way. Pupils should be able to understand the bigger context and relevance of coding, for example by the coala school project entrusting the responsibility to a former participant and transmit his new knowledge to someone younger.

<div class="row">
                <div class="col m12 center">
                    <img style="height: 30em;" class="responsive-img" src="resources/images/1.JPG">
                    <p class="center">Networking and developing a way of thinking in coding at a coala workshop.
                </div>
                </div>
                </div>
            </div>
        </div>
       <br><br>
    </div>
</section>
